body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1e242a;
}

#main {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
#box1 {
  width: 530px;
  height: 625px;
  background-image: url("https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg&ga=GA1.2.1387257134.1609596613");
  position: absolute;
  bottom: -100%;
  left: 30%;
  animation: anim1 2 forwards, anim2 2s forwards 3s;
}
#box1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 625px;
  background-image: url("../AJ\ Logo.png");
  left: 0px;
  z-index: -1;
}
@keyframes anim1 {
  from {
    bottom: -100%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes anim2 {
  from {
    left: 30%;
    width: 530px;
  }
  to {
    width: 0px;
    left: 50%;
  }
}
#box2 {
  width: auto;
  height: auto;
  color: white;
  font-size: 10em;
  line-height: 130px;
  position: absolute;
  top: 250px;
  left: 100px;
  overflow: hidden;
}
#text {
  position: relative;
  left: -100%;
  animation: anim3 2s forwards 3s;
}
@keyframes anim3 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
#box3 {
  overflow: hidden;
}
#container {
  width: 100%;
  position: absolute;
  top: -100%;
  animation: anim4 2s forwards 2.5s;
}
@keyframes anim4 {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}
#logo {
  float: left;
}
#logo img {
  width: 50px;
}
#menu {
  float: right;
  margin: 20px 150px 0 0;
}
#menu ul {
  list-style: none;
}
#menu ul li {
  display: inline-block;
  margin-left: 100px;
}
