* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 150vh;
}
section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARMAAAC3CAMAAAAGjUrGAAAAJ1BMVEU7WZkAgLIArO3UQzI2Rl0+UZIAsfMAsvfeNxHdQy4fRmA5QVUAhLeDQ21qAAABCElEQVR4nO3QQQGAIAAEMERARfrnpcN9+GwRVkqkj5p43jvxzZb41xXJSpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4ceLEiRMnTpw4OXuyAdPHrEGNCAzvAAAAAElFTkSuQmCC");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: circle(180vh at 50% -80vh);
}
section .heading {
  max-width: 1000px;
  text-align: center;
}
section .heading h2 {
  font-size: 5em;
  color: white;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
#social_media_links ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
#social_media_links ul li {
  list-style: none;
}
#social_media_links ul li a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 0 10px;
  padding: 6px;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: 0.5s;
}
#social_media_links ul li a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
}
#social_media_links ul li i {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 24px;
  color: #262626;
  transition: 0.5s;
}
#social_media_links ul li:nth-child(1) a:hover i {
  color: #007bb5;
}
#social_media_links ul li:nth-child(2) a:hover i {
  color: #000000;
}
#social_media_links ul li:nth-child(3) a:hover i {
  color: #3b5998;
}
#social_media_links ul li:nth-child(4) a:hover i {
  color: #e95950;
}
#social_media_links ul li:nth-child(5) a:hover i {
  color: #55acee;
}
